.navbar-brand{
    font-size: 2rem;
}
/* footer */
.container-footer .facebook{
    margin-top: 15px;
    margin-left: -2px;
}
.container-footer .linkedin{
    margin-top: 15px;
    margin-left: -2px;
}